<div class="container">
    <div class="row">
        <h1>About us</h1>
        <div class="col-10">
            <h2>History</h2>
            <p>The library is a bookstore founded back in 1987. The love of reading the driving force behind each of its founders.
            Mike and Ike wanted to share their love with the resto of the world, so they made a place where everyone could access
            books at an affordable price.
            Since then the bookstore has operated consitently and has tens of thousands satisfiend customers.</p>
            <div class="underline"></div>
            <h2>Reading room</h2>
            <p>We are equiped with a comfortable reading room accessable to all.
                Housing reference works and current periodicals and offering beautiful views across St. James's Square, it provides desk space for up to 40 people and a unique environment for quiet study.</p>
            <figure>
                <img src="assets/images/aboutPic.jpg" alt="bookstore" width="60%">
                <figcaption>The reading room</figcaption>
            </figure>
            <!-- <div class="underline"></div> -->
        </div>
    </div>
</div>