
/* @font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
} */

body { 
    font-family: 'Arial' !important;
    
}

