<footer class="row g-0 d-flex flex-column bg-dark">
    <div class="footer-container row">
        <div class="row quote">
            <p>"I would live there if they would let me bring a bed in"</p>
            <p id="quoteMaker">John Hughes</p>
        </div>
        <div class="col-5">
            <h2>Follow us on social media!</h2>
            <div><a href="http://www.twitter.com">Twitter</a></div>
            <div><a href="http://www.facebook.com">Facebook</a></div>
            <div><a href="http://www.instagram.com">Instagram</a></div>
            <!-- <fa-icon [icon]="[faTwitter]"></fa-icon> -->
        </div>
        <div class="col-7">
            <app-newsletter-form></app-newsletter-form>
        </div>
    </div>
</footer>
